In [11]:
import pandas as pd
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   -------------- ------------------------- 92.2/250.9 kB 2.6 MB/s eta 0:00:01
   ---------------------- ----------------- 143.4/250.9 kB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 225.3/250.9 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.1 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [69]:
df= pd.read_excel("D://DSML PRACTICAL//Datasets//Age Table.xlsx")
import math
import numpy as np

In [70]:
df

       Age  Income Married Health  Class
0    Young    High      No    Fair    No
1    Young    High      No    Good    No
2   Middle    High      No    Fair   Yes
3      Old  Medium      No    Fair   Yes
4      Old     Low     Yes    Fair   Yes
5      Old     Low     Yes    Good    No
6   Middle     Low     Yes    Good   Yes
7    Young  Medium      No    Fair    No
8    Young     Low     Yes    Fair   Yes
9      Old  Medium     Yes    Fair   Yes
10  Young   Medium     Yes    Good   Yes
11  Middle      No      No    Good   Yes
12  Middle     Yes     Yes    Fair   Yes
13     Old      No      No    Good    No

In [71]:
yes_count=len(df[df['Class']=='Yes'])

In [45]:
yes_count

9

In [35]:
no_count=len(df)-yes_count

In [55]:
total=no_count+yes_count

In [72]:
def calc_entropy(yes,no,total):
    if yes == 0 or no == 0:
        return 0  # If either count is 0, the entropy contribution is 0
    return (yes/total*np.log2(yes/total)+no/total*np.log2(no/total))*-1

In [73]:
df["Age"] = df["Age"].str.strip()

unique_values=df['Age'].unique()

In [74]:
unique_values

array(['Young', 'Middle', 'Old'], dtype=object)

In [75]:
total_entropy=calc_entropy(yes_count,no_count,yes_count+no_count)
total_entropy

0.9402859586706311

In [76]:
sum=0
for col in unique_values:
    temp_df=df[df['Age']==col]
    y=len(temp_df[temp_df['Class']=='Yes'])
    n=len(temp_df[temp_df['Class']=='No'])
    sum+=((y+n)/total*(calc_entropy(y,n,y+n)))

print(total_entropy-sum)

0.24674981977443933