In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/DSML PRACTICAL//Datasets//Lipstick.csv')

In [3]:
df.head()

   Id    Age  Income  Gender       Ms Buys
0   1    <21    High    Male   Single   No
1   2    <21    High    Male  Married   No
2   3  21-35    High    Male   Single  Yes
3   4    >35  Medium    Male   Single  Yes
4   5    >35     Low  Female   Single  Yes

In [4]:
columns = df.columns.to_list()
columns

['Id', 'Age', 'Income', 'Gender', 'Ms', 'Buys']

In [5]:
x = columns[1:-1]
x

['Age', 'Income', 'Gender', 'Ms']

In [6]:
y = 'Buys'
y

'Buys'

In [7]:
def displayDateframe(feature,value,yes_count,no_count,total_count):
    table = pd.DataFrame()
    table[feature]=value
    table['Yes']=yes_count
    table['No']=no_count
    table['Total']= total_count

    print(table)

In [8]:
def calculate(values,yes_count,no_count,total_count):
    total_gini = 0
    total = sum(total_count)
    idx=0;
    for val in values:
        gini_temp = 1 - (yes_count[idx]/total_count[idx])**2 - (no_count[idx]/total_count[idx])**2
        print(f"{val} : {round(gini_temp,2)}")
        total_gini += (gini_temp * (total_count[idx]/total)) 
        idx+=1
    return total_gini

In [9]:
def calculateGini(df,feature,target):
    unique_values = df[feature].unique()
    print(unique_values)
    values = []
    yes_count = []
    no_count = []
    total_count=[]

    for val in unique_values:
        temp_df = df[df[feature]==val]
        counts = temp_df[target].value_counts()
        curr_yes = 0
        curr_no = 0
        print(type(counts))
        if 'Yes' in counts:
            curr_yes=counts.Yes
        if 'No' in counts:
            curr_no = counts.No
        values.append(val)
        yes_count.append(curr_yes)
        no_count.append(curr_no)
        total_count.append(curr_yes+curr_no)
    
        
    displayDateframe(feature,values,yes_count,no_count,total_count)
    giniIndex = calculate(values,yes_count,no_count,total_count)
    print(f"Gini index for {feature} : {round(giniIndex,2)}\n")
    return giniIndex

In [10]:
gini_indices = dict()
for feature in x:
    giniIndex = calculateGini(df,feature,y)
    gini_indices[feature]=giniIndex

print("The gini indices for each featre are as follows : ")
for feature,value in gini_indices.items():
    print(f"Gini index for {feature} : {round(value,2)}")

['<21' '21-35' '>35']
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
     Age  Yes  No  Total
0    <21    2   3      5
1  21-35    4   0      4
2    >35    3   2      5
<21 : 0.48
21-35 : 0.0
>35 : 0.48
Gini index for Age : 0.34

['High' 'Medium' 'Low']
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
   Income  Yes  No  Total
0    High    2   2      4
1  Medium    4   2      6
2     Low    3   1      4
High : 0.5
Medium : 0.44
Low : 0.38
Gini index for Income : 0.44

['Male' 'Female']
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
   Gender  Yes  No  Total
0    Male    3   4      7
1  Female    6   1      7
Male : 0.49
Female : 0.24
Gini index for Gender : 0.37

['Single' 'Married']
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
        Ms  Yes  No  Total
0   Single    5   2      7
1  Married    4   3      7
Single : 0.41
Married : 0.49
Gini index for Ms : 0.45

The gini indices for each featre are as follows :
Gini index for Age : 0.34
Gini index for Income : 0.44
Gini index for Gender : 0.37
Gini index for Ms : 0.45

In [11]:
l=sorted(gini_indices.items(), key=lambda item: item[1])
print(f"The root node is : {l[0][0]}")

The root node is : Age

In [12]:
# from sklearn.preprocessing import LabelEncoder

# encoders = {}
# for column in columns:
#     le = LabelEncoder()
#     df[column] = le.fit_transform(df[column])
#     encoders[column]=le
# df.head(2)

In [13]:
# x = df[columns[1:-1]]
# y = df[columns[-1]]

In [14]:
# from sklearn.tree import DecisionTreeRegressor,plot_tree
# model = DecisionTreeRegressor()
# model.fit(x,y)

In [15]:
# import matplotlib.pyplot as plt 

# plt.figure(figsize=(12, 8))
# plot_tree(model, feature_names=columns[1:-1], 
#           class_names=['Yes', 'No'], filled=True)
# plt.show()

In [16]:
# input_data = {
#     'Age': ['>35'],
#     'Income': ['Medium'],
#     'Gender': ['Female'],
#     'Ms': ['Married']
# }
# input_data = pd.DataFrame(input_data)
# for column in x:
#     le = encoders[column]
#     input_data[column] = le.transform(input_data[column])
# abc=model.predict(input_data)
# abc = abc.astype(int) 
# print(encoders['Buys'].inverse_transform(abc))